.App {
  font-family: sans-serif;
  text-align: center;
  max-width: 1400px;
  margin: auto;
}

.compare-table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  & > div {
    border: solid silver 1px;
    padding: 5px;
  }
}
